body {
    font-family: Arial, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.flex-container #logo {
    align-items: center;
}

li {
    list-style: none;
}

button {
    border: none;
    padding: 10px 17px;
    border-radius: 4px;
    font-size: 14px;
    margin: 3px;
}
