body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.flex-container #logo {
    align-items: center;
}

nav {
    font-size: 14px;
}

li {
    list-style: none;
    margin: 0 20px;
}

#two {
    margin-right: 850px;
}

button {
    border: none;
    padding: 10px 17px;
    border-radius: 4px;
    font-size: 14px;
    margin: 3px;
}

footer {
    margin-top: auto;
    padding-top: 15px;
    background: #f2f2f2;
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
}

#carbon {
    justify-content: center;
    margin-left: 200px;
    margin-right: 275px;
}

#nav {
    flex-wrap: wrap;
}

#logo {
    justify-content: center;
    align-items: center;
    height: 150px;
}

#search {
    margin-bottom: 20px;
}

#searchBar {
    width: 550px;
    line-height: 35px;
    border-radius: 40px;
    border-style: solid;
    border-color: lightgray;
}

#footer {
    flex-wrap: wrap;
    margin-top: auto;
}
